# dependencies
node_modules

# build output directory
dist

# hidden system files
.DS_Store

# .env
.env
.env*

# lint files
.eslintrc.js

# others
coverage
jest.config.js

# google service account credentials
service_account_credentials.json